.beers-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.beers-container .item{
    margin: 20px;
    padding: 10px;
    border: 1px gray dotted;
}

.beers-container img{
    margin: 0 auto;
    display: block;
}