#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgb(10,10,10, 0.4);
}

#loading img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
}

#loading strong{
    margin: 0 auto;
    text-align: center;
    display: block;
    color: white;
    font-size: 2rem;
}